{
    "presets": [
      ["env", { "modules": false }],
      "react"
    ],
    "plugins": [
      [
        "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }],
      "transform-class-properties",
      "transform-object-rest-spread", 
      "transform-decorators-legacy",
      "transform-react-jsx-source"
    ],
    "comments": false
  }