{
    "presets": [
      ["env", { "modules": false }],
      "react"
    ],
    "comments": false,
    "env": {
      "test": {
        "presets": ["es2015", "env", {"module": false}],
        "plugins": [ 
          "istanbul"
        ]
      }
    }
  }