<% const _args = htmlWebpackPlugin;%>
<% const _css = _args.files.chunks[_args.options.assetName].css; %>
<% const _js = _args.files.chunks[_args.options.assetName].entry; %>
<%if(process.env.NODE_ENV === 'production') {%>
<% const _common = _args.files.chunks['commons'].entry%>
<%}%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%=require('../templates/head.template')%>
    <%if(process.env.NODE_ENV === 'production') {%>
    <link rel="stylesheet" href="<%=_css%>">
    <%}%>
</head>
<body>
    <div id="root">
        
    </div>

    <%if(process.env.NODE_ENV === 'production') {%>
    <script src="<%=_common%>"></script>
    <%}%>
    <script src="<%=_js%>"></script>
</body>
</html>