<% const _chunk = htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.assetName] || {}; %>
<% const _commonChunk = htmlWebpackPlugin.files.chunks['commons'] || {}%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%=require('./templates/head.tpl')%>
    <% 
     let ifHead;

     try {
        ifHead = require('./'+htmlWebpackPlugin.options.assetName.replace(/index$/g, 'head')+'.tpl')
     } catch(e) {
        ifHead = '';
     }
    %>
    <% if(ifHead) {%>
        <%= require('./'+htmlWebpackPlugin.options.assetName.replace(/index$/g, 'head')+'.tpl')%>
    <% }%>
    <%if(process.env.NODE_ENV === 'production') {%>
    <link rel="stylesheet" href="<%=_chunk.css%>">
    <%}%>
</head>
<body>
    <% if(htmlWebpackPlugin.options.assetName) {%>
    <%= require('./'+htmlWebpackPlugin.options.assetName+'.tpl')%>
    <% }%>

    <%if(process.env.NODE_ENV === 'production') {%>
    <script src="<%=_commonChunk.entry%>"></script>
    <%}%>
    <script src="<%=_chunk.entry%>"></script>
</body>
</html>