<% const _chunk = htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.assetName] || {}; %>
<% const _vendorsChunk = htmlWebpackPlugin.files.chunks['vendors'] || {}%>
<% const _commonChunk = htmlWebpackPlugin.files.chunks['common'] || {}%>
<% const _polyChunk = htmlWebpackPlugin.files.chunks['polyfill'] || {}%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% 
     let ifHead;

     try {
        ifHead = require('./'+htmlWebpackPlugin.options.assetName.replace(/index$/g, 'head')+'.tpl')
     } catch(e) {
        ifHead = '';
     }
    %>
    <% if(ifHead) {%>
        <%= require('./'+htmlWebpackPlugin.options.assetName.replace(/index$/g, 'head')+'.tpl')%>
    <% }%>
    <%if(process.env.NODE_ENV === 'production') {%>
    <link rel="stylesheet" href="<%=_chunk.css%>">
    <%}%>
    <%=require('./templates/head.tpl')%>
</head>
<body>
    <% if(htmlWebpackPlugin.options.assetName) {%>
        <%= require('./'+htmlWebpackPlugin.options.assetName+'.tpl')%>
    <% }%>
    <script defer src="http://blog.x2hy.com/cdn/zepto.min.js"></script>
    <script defer src="<%=_polyChunk.entry%>"></script>
    <script defer src="<%=_chunk.entry%>"></script>
</body>
</html>