/*
  your code here...
*/
.portalTips {
  border: 1px solid #eee;
  position: fixed;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  z-index: 999;
}

.boom {
  background-color: #d00000;
  color: #fff;
  font-size: 20px;
}